<% include ../partials/header.ejs %>

<h1>Balpreet</h1>
<p>Balpreet is a student in Georgian College studying Computer Programming. He feels programming is the right career choice for him,
    loves to ride motorbikes and misses his ride back home. </p>

<% include ../partials/footer.ejs %>