<% include ../partials/header.ejs %>

<h1>Kimmy</h1>
<p>Kimmy is currently pursuing MBA from the University Of Toronto. She hopes to start up a business soon.</p>
<% include ../partials/footer.ejs %>