<% include ../partials/header.ejs %>

<h1>Prince</h1>
<p>Prince is an enthusiastic businessman, currently owns and manages businesses in various different fields. Hopes to
    grow his business into an empire.</p>
<% include ../partials/footer.ejs %>