<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<nav>
  <ul>
    <li><a href="/">Lab 4</a></li>
    <li><a href="/members/prince">Prince</a></li>
    <li><a href="/members/harminder">Harminder</a></li>
    <li><a href="/members/balpreet">Balpreet</a></li>
    <li><a href="/members/kimmy">Kimmy</a></li>
  </ul>
</nav>